<!--<div>{{ appState$ | async | json }}</div>-->
<div class="container-xl py-5">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <button class="btn btn-success" (click)="toggle()" id="btn-new-survey">
              <i class="fas fa-plus-circle"></i>
              <span> Nueva Encuesta</span>
            </button>
          </div>
        </div>
      </div>
      <br>

        <form #surveyForm="ngForm" (ngSubmit)="onSubmit(surveyForm)">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="email">Correo Electronico</label>&nbsp;
              <i class="fas fa-envelope-square"></i>
              <input ngModel type="email" name="email" class="form-control" id="typeMusic" placeholder="corre@correo.com" required>
            </div>
            <div class="form-group col-md-4">
              <label for="typeMusic">Tipo de Música</label>&nbsp;
              <i class="fas fa-music"></i>
              <select id="typeMusic" name="typeMusic" ngModel class="form-control" required>
                <option selected value="">Seleccione Opción</option>
                <option value="ROCK">ROCK</option>
                <option value="POP">POP</option>
                <option value="METAL">METAL</option>
                <option value="CLASICA">CLASICA</option>
                <option value="JAZZ">JAZZ</option>
              </select>
            </div>
            <div class="form-group col-md-4 align-self-center">
              <button type="submit" [disabled]="surveyForm.invalid || (isLoading$ | async)" class="btn btn-primary">
                <i *ngIf="isLoading$ | async" class="fas fa-spiner fa-spin"></i>
                <span *ngIf="!(isLoading$ | async)">Guardar</span>
                <span *ngIf="isLoading$ | async">Guardando..</span>
              </button>
            </div>
          </div>
          <br>
        </form>
  
      <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.datatState">
        <ng-container *ngSwitchCase="DataState.LOADING">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status">
            </div>
          </div>
        </ng-container>
      <ng-container *ngSwitchCase="DataState.LOADED">
        <table class="table table-bordered table-hover" id="surveys">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Email</th>
              <th scope="col">Tipo de Música</th>
            </tr>
          </thead>
          <tbody *ngFor="let survey of appState.appData.data.Surveys; let i = index">
            <tr>
              <td>{{ survey.surveyId }}</td>
              <td>{{ survey.email }}</td>
              <td>{{ survey.typeMusic }}</td>
            </tr>
          </tbody>

        </table>
      </ng-container>
      <ng-container *ngSwitchCase="DataState.ERROR">
        <div class="alert-danger">Error</div>
      </ng-container>

      </ng-container>
    </div>
  </div>
</div>
